{% extends "base.html" %}
{% block body %}

<div class="content-section">
    <span class="h1">Ideas for the website</span>
    {% for post in posts %}
        <div class="content-section">
            <div class="media">
                    <a href="{{ url_for('posts.post_view', id=post.id) }}" class="text-decoration-none h1"><h1 class="account-heading"></h1>{{ post.title }}</a>
                <hr> <br>
                    <pre class="h2 text-secondary">{{ post.content }}</pre>
                    <a href="{{ url_for('posts.post_view', id=post.id) }}" class="text-decoration-none small h4">
                        <small class="mute">{{ post.date_posted.strftime('%m/%d/%Y, %H:%M:%S') }}</small></a>
            </div>
            <div>

                <a href="{{ url_for('users.specific_user', id=post.author.id) }}" class="text-decoration-none h4">
                    <img class="rounded-circle account-img-smol" src="{{ url_for('static', filename='profile-pics/' + post.author.image_file)}}">
                    {{ post.author.username }}</a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock body %}