* {
    width: 100%;
    height: 100%;
}

body {
    background-color: #6fe896;
}

.text1 {
    color: #6fe896;
}

.text2 {
    color: #fafafa;
}

.info1-block{
    position: absolute;
    top: 20%;
    left: 32%;
    width: 35%;
    height: 50%;
    z-index: 15;

    border-radius: 2%;

    padding: 1%;
    background-color: #f2faf3;
}

